* {
    font-family: Arial, Helvetica, sans-serif;
}


.header-content a {
    font-family: serif;
}

h1 {
    text-align: center;
    margin: 50px auto;
}

.images-container {
    display: flex;
    
}

.images-container img {
    width: 50%;
    margin: 50px auto;
}

.images-container2 {
    display: flex;

}

.images-container2 img {
    width: 100%;
}

h3 {
    text-align: center;
    color: grey;
    font-size: small;
}

.images-container3 {
    display: flex;
margin-bottom: 50px;
}

.images-container3 img {
    width: 100%;
}