header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid black;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.menu-icon {
    font-size: 24px;
}


.footer {
    border-top: 1px solid black;
    position: relative;
    width: 390px;
    height: 214px;
    background-color: #fcfcfc;
}

.footer .overlap-group {
    position: absolute;
    width: 71px;
    height: 111px;
    top: 91px;
    left: 305px;
}

.footer .MMI-logo-quadri-v {
    position: absolute;
    width: 45px;
    height: 32px;
    top: 79px;
    left: 6px;
    object-fit: cover;
}

.footer .facebook-twitter {
    position: absolute;
    width: 71px;
    top: 0;
    left: 0;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .line {
    position: absolute;
    width: 390px;
    height: 1px;
    top: -1px;
    left: 0;
    object-fit: cover;
}

.footer .element-c-sar-pelli-co {
    position: absolute;
    width: 198px;
    top: 128px;
    left: 4px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .text-wrapper {
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
}

.footer .lieu-de-l-exposition {
    position: absolute;
    width: 194px;
    top: 32px;
    left: 14px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .div {
    position: absolute;
    width: 58px;
    top: 35px;
    left: 305px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.footer .p {
    position: absolute;
    width: 213px;
    top: 169px;
    left: 14px;
    font-family: "MS Outlook-Regular", Helvetica;
    font-weight: 400;
    color: #858080;
    font-size: 8px;
    letter-spacing: 0;
    line-height: 12.8px;
}



.affiche {
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url(/public/img/pelli.jpg);
  background-position: center;
  background-size: cover;
  background-position: 50% 50%;
  border-top: 50px solid #ffffff;
  border-bottom: 50px solid #ffffff;
  border-left: 50px solid #ffffff;
  border-right: 50px solid #ffffff;
}

.affiche .expo {
  position: absolute;
  top: 11px;
  left: 13px;
  font-family: "Matter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.affiche .btn-decouvrir {
  position: absolute;
  width: 202px;
  height: 64px;
  top: 317px;
  left: 49px;
  border: 2px solid;
  border-color: #faecec;
}

.affiche .overlap-group {
  position: relative;
  width: 181px;
  height: 32px;
  top: 15px;
  left: 9px;
}

.affiche .text-wrapper {
  position: absolute;
  width: 158px;
  top: 0;
  left: 0;
  font-family: "Matter-Regular", Helvetica;
  font-weight: 400;
  color: #f7f3f3;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.affiche .arrow {
  position: absolute;
  width: 27px;
  height: 15px;
  top: 11px;
  left: 154px;
}

.affiche2 {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url(/public/img/vlad-shapochnikov-uPJzWWhPcP4-unsplash\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    border-left: 50px solid #ffffff;
    border-right: 50px solid #ffffff;
}

.affiche2 .expo {
    position: absolute;
    top: 11px;
    left: 13px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche2 .btn-decouvrir {
    position: absolute;
    width: 202px;
    height: 64px;
    top: 317px;
    left: 49px;
    border: 2px solid;
    border-color: #faecec;
}

.affiche2 .overlap-group {
    position: relative;
    width: 181px;
    height: 32px;
    top: 15px;
    left: 9px;
}

.affiche2 .text-wrapper {
    position: absolute;
    width: 158px;
    top: 0;
    left: 0;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #f7f3f3;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche2 .arrow {
    position: absolute;
    width: 27px;
    height: 15px;
    top: 11px;
    left: 154px;
}

.affiche3 {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url(/public/img/d5ae28f878bed847833d29e68e289ed4\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    border-top: 50px solid #ffffff;
    border-left: 50px solid #ffffff;
    border-right: 50px solid #ffffff;
}

.affiche3 .expo {
    position: absolute;
    top: 11px;
    left: 13px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche3 .btn-decouvrir {
    position: absolute;
    width: 202px;
    height: 64px;
    top: 317px;
    left: 49px;
    border: 2px solid;
    border-color: #faecec;
}

.affiche3 .overlap-group {
    position: relative;
    width: 181px;
    height: 32px;
    top: 15px;
    left: 9px;
}

.affiche3 .text-wrapper {
    position: absolute;
    width: 158px;
    top: 0;
    left: 0;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #f7f3f3;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche3 .arrow {
    position: absolute;
    width: 27px;
    height: 15px;
    top: 11px;
    left: 154px;
}

.affiche4 {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url(/public/img/logan-easterling-JvoBrbEIgrw-unsplash\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-position: 50% 50%;
    border-top: 50px solid #ffffff;
    border-bottom: 50px solid #ffffff;
    border-left: 50px solid #ffffff;
    border-right: 50px solid #ffffff;
}

.affiche4 .expo {
    position: absolute;
    top: 11px;
    left: 13px;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche4 .btn-decouvrir {
    position: absolute;
    width: 202px;
    height: 64px;
    top: 317px;
    left: 49px;
    border: 2px solid;
    border-color: #faecec;
}

.affiche4 .overlap-group {
    position: relative;
    width: 181px;
    height: 32px;
    top: 15px;
    left: 9px;
}

.affiche4 .text-wrapper {
    position: absolute;
    width: 158px;
    top: 0;
    left: 0;
    font-family: "Matter-Regular", Helvetica;
    font-weight: 400;
    color: #f7f3f3;
    font-size: 26px;
    letter-spacing: 0;
    line-height: normal;
}

.affiche4 .arrow {
    position: absolute;
    width: 27px;
    height: 15px;
    top: 11px;
    left: 154px;
}


/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #ffffff;
    padding-top: 60px;
    transition: left 0.5s ease;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

}



.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}